# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
ano = [1900,1920,1940,1960,1980,2000,2020]
pd.Series(anomalia)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
pd.Series(anomalia, index = ano)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    86.793377  103.862396  101.626837
1    92.812435  108.375524  106.809020
2    86.741404  103.476867  101.424101
3    76.473943  101.732446  104.112055
4   121.479612  101.018392   96.824920
5    97.676797  107.609868   89.557667
6    92.331072   96.110783   90.062736
7    89.620136   89.998659  103.886064
8   100.077349   97.512207   90.220830
9    98.158717  104.219807   93.989181
10   85.214285   98.801690   98.670494
11   97.776322   94.925580   85.376435
12   75.767483  110.965311  100.015338
13   84.311032   98.490729  101.186164
14  104.041650  108.374455   91.262316
15   95.718755  100.537050   92.995113
16   98.940039   89.818657  117.249940
17  119.583269   95.053864  113.077111
18   82.622076   87.778319  108.819372
19  115.629065   94.972414  117.838121

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [17]:
#seu código aqui
index = np.arange(20)
df = pd.DataFrame(arr, index=index, columns = ['x1','x2','x3'])
df

            x1          x2          x3
0    86.793377  103.862396  101.626837
1    92.812435  108.375524  106.809020
2    86.741404  103.476867  101.424101
3    76.473943  101.732446  104.112055
4   121.479612  101.018392   96.824920
5    97.676797  107.609868   89.557667
6    92.331072   96.110783   90.062736
7    89.620136   89.998659  103.886064
8   100.077349   97.512207   90.220830
9    98.158717  104.219807   93.989181
10   85.214285   98.801690   98.670494
11   97.776322   94.925580   85.376435
12   75.767483  110.965311  100.015338
13   84.311032   98.490729  101.186164
14  104.041650  108.374455   91.262316
15   95.718755  100.537050   92.995113
16   98.940039   89.818657  117.249940
17  119.583269   95.053864  113.077111
18   82.622076   87.778319  108.819372
19  115.629065   94.972414  117.838121

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [19]:
# seu código aqui
df['media'] = (df['x1'] +df['x2'] +df['x3'])/3
df

            x1          x2          x3       media
0    86.793377  103.862396  101.626837   97.427537
1    92.812435  108.375524  106.809020  102.665660
2    86.741404  103.476867  101.424101   97.214124
3    76.473943  101.732446  104.112055   94.106148
4   121.479612  101.018392   96.824920  106.440975
5    97.676797  107.609868   89.557667   98.281444
6    92.331072   96.110783   90.062736   92.834864
7    89.620136   89.998659  103.886064   94.501620
8   100.077349   97.512207   90.220830   95.936795
9    98.158717  104.219807   93.989181   98.789235
10   85.214285   98.801690   98.670494   94.228823
11   97.776322   94.925580   85.376435   92.692779
12   75.767483  110.965311  100.015338   95.582711
13   84.311032   98.490729  101.186164   94.662641
14  104.041650  108.374455   91.262316  101.226140
15   95.718755  100.537050   92.995113   96.416973
16   98.940039   89.818657  117.249940  102.002879
17  119.583269   95.053864  113.077111  109.238081
18   82.622076   87.778319  108.819372   93.073256
19  115.629065   94.972414  117.838121  109.479867

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [22]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
0    86.793377  103.862396  101.626837   97.427537  4.579109
1    92.812435  108.375524  106.809020  102.665660  4.631478
2    86.741404  103.476867  101.424101   97.214124  4.576916
3    76.473943  101.732446  104.112055   94.106148  4.544423
4   121.479612  101.018392   96.824920  106.440975  4.667591
5    97.676797  107.609868   89.557667   98.281444  4.587835
6    92.331072   96.110783   90.062736   92.834864  4.530822
7    89.620136   89.998659  103.886064   94.501620  4.548617
8   100.077349   97.512207   90.220830   95.936795  4.563690
9    98.158717  104.219807   93.989181   98.789235  4.592989
10   85.214285   98.801690   98.670494   94.228823  4.545726
11   97.776322   94.925580   85.376435   92.692779  4.529291
12   75.767483  110.965311  100.015338   95.582711  4.559992
13   84.311032   98.490729  101.186164   94.662641  4.550319
14  104.041650  108.374455   91.262316  101.226140  4.617357
15   95.718755  100.537050   92.995113   96.416973  4.568682
16   98.940039   89.818657  117.249940  102.002879  4.625001
17  119.583269   95.053864  113.077111  109.238081  4.693530
18   82.622076   87.778319  108.819372   93.073256  4.533387
19  115.629065   94.972414  117.838121  109.479867  4.695741